<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->
      <div class="ui search ">
        <div class="ui icon input fluid">
          <input class="prompt" type="text" placeholder="Razón Social" (keyup.enter)="buscar(rs.value)" #rs>
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>

  <div class="one column row">
    <div class="column">

      <!--mostrar resultado-->
      <div class="ui divided selection list" *ngIf="!datos">
        <a class="item" *ngFor="let element of data | keys">
          <div class="ui  horizontal label">{{element.key}}</div>
          {{element.value}}
        </a>

      </div>
      <ng-container *ngIf="datos">
        <div class="ui divided selection list" *ngFor="let razonsocial of datos;index as i" >
          <a class="item" >
            <div class="ui blue horizontal label">#</div>
            {{i+1}}
          </a>
          <a class="item" *ngFor="let element of razonsocial | keys">
            <div class="ui  horizontal label">{{element.key}}</div>
            {{element.value}}
          </a>

        </div>
      </ng-container>

    </div>

  </div>
</div>


