<div class="ui grid container">
  <div class="one column row"></div>
  <div class="row">
    <div class="six wide column">
      <div class="ui secondary vertical menu">

        <a routerLink="/buscarNaveAeronave" class=" active item">
          	buscarNaveAeronave

        </a>
        <a routerLink="/buscarPjrazonSocial" class="item">
          buscarPJRazonSocial

        </a>
        <a routerLink="/buscarTitularidad" class="item">
          	buscarTitularidad

        </a>
        <a routerLink="/obtenerOficinas" class="item">
          	getOficinas
        </a>
        <a routerLink="/listarAsientos" class="item">

          	listarAsientos

        </a>
        <a routerLink="/verAsiento" class="item">
          	verAsiento

        </a>
        <a routerLink="/verDetalleRpv" class="item">
          	verDetalleRPV
        </a>

      </div>
    </div>
    <div class="ten wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

