<div class="ui one column grid container">
  <div class=" row"></div>
  <div class="row">
    <div class="column">
      <div class="ui grid">
        <div class="four wide column">
        <div class="ui raised segment">
          <div class="ui secondary vertical menu">
            <div class="header item">
              <img src="assets/images/logo_io.png" alt="logo">
            </div>
          <div class="ui divider clearing"></div>
            <div class="header item">SUNARP </div>

            <a routerLink="/buscarNaveAeronave" class=" active item" [class.active]="operacionActual=='/buscarNaveAeronave'">
              Naves y Aeronaves

            </a>
            <a routerLink="/buscarPjrazonSocial" class="item" [class.active]="operacionActual=='/buscarPjrazonSocial'">
              Persona Juridica / Natural
            </a>
            <a routerLink="/buscarTitularidad" class="item" [class.active]="operacionActual=='/buscarTitularidad'">
              Titularidad de Bienes

            </a>
            <!--<a routerLink="/obtenerOficinas" class="item" [class.active]="operacionActual=='/obtenerOficinas'">-->
              <!--getOficinas-->
            <!--</a>-->
            <a routerLink="/listarAsientos"   class="item" [class.active]="operacionActual=='/listarAsientos'">

              Asientos

            </a>
            <!--<a routerLink="/verAsiento" class="item" [class.active]="operacionActual=='/verAsiento'">-->
              <!--verAsiento-->

            <!--</a>-->
            <a routerLink="/verDetalleRpv" class="item" [class.active]="operacionActual=='/verDetalleRpv'">
              Registro de Propiedad Vehicular
            </a>
            <div class="header item">RENIEC</div>
            <a routerLink="/actualizarCredencial" class="item" [class.active]="operacionActual=='/actualizarCredencial'">
              actualizarcredencial
            </a>
            <a routerLink="/consultar" class="item" [class.active]="operacionActual=='/consultar'">
              consultar
            </a>
          </div>

          <div *ngFor="let el of log; index as i" class="ui  message logs"
               [class.red]="el.tipo=='error'"
               [class.green]="el.tipo=='success'"
               [class.orange]="el.tipo=='warning'"
          >
            {{el.message}}
          </div>

          <!--<div class="ui message logs">texto de prueba para manejar los estilos</div>-->
        </div>



        </div>
        <div class="twelve wide column">
          <div class="ui raised segment">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

