<div class="ui grid">
  <div class="row one column">

      <!--<div class="column">-->
        <!--<h1 class="header">LISTA DE ASIENTOS</h1>-->
      <!--</div>-->
    <div class="column">
      <!--formulario de busqueda-->
      <form class="ui form" (ngSubmit)="buscarAsiento()" [ngClass]="{loading:loadingDataSelect}">
        <!--<div class="field">-->
          <!--<label>Zona</label>-->
          <!--<input type="text" name="zona" placeholder="Zona" [(ngModel)]="asiento.zona">-->
        <!--</div>-->
        <!--<div class="field">-->
          <!--<label>Oficina</label>-->
          <!--<input type="text" name="oficina" placeholder="Oficina" [(ngModel)]="asiento.oficina">-->
        <!--</div>-->
        <div class="field">
          <label>Oficina</label>
          <select name="" class="ui fluid search" (change)="selectOficina(oficina.value)" [ngClass]="{loading:!loadingDataSelect}" #oficina appDropdown>
            <option value=""></option>
            <option value="{{oficina.codOficina+'_'+oficina.codZona}}" *ngFor="let oficina of dataOficina">{{oficina.descripcion}}</option>
          </select>
        </div>
        <div class="field">
          <label>Partida</label>
          <input type="text" name="partida" placeholder="Partida" [(ngModel)]="asiento.partida">
        </div>
        <div class="field">
          <label>Registro</label>
          <!--<input type="text" name="registro" placeholder="Registro" [(ngModel)]="asiento.registro">-->

          <select name="registro" class="ui fluid dropdown" [(ngModel)]="asiento.registro"  appDropdown>
            <option value=""></option>
            <option value="21000">Propiedad Inmueble</option>
            <option value="22000">Personas Jurídicas</option>
            <option value="23000">Personas Naturales</option>

          </select>
        </div>

        <button class="ui button" type="submit">Buscar</button>
      </form>


    </div>
  </div>

  <div class="one column row">
    <div class="column" *ngIf="loadingData">
      <div class="ui floating icon floating  message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Cargando los datos ...
          </div>
          <p>Conectando con el servicio pide ... !Porfavor espere¡</p>
        </div>
      </div>
    </div>

    <div class="column" *ngIf="!loadingData&&datos.listFichas" >
      <h4 class="ui horizontal divider header green">
        <i class="list icon"></i>
        Resultado
      </h4>
      <!--mostrar resultado-->
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui  horizontal label">Numero de Páginas</div>
          {{datos?.nroTotalPag}}
        </a>
        <a class="item">
          <div class="ui  horizontal label">Transaccion</div>
          {{datos?.transaccion}}
        </a>
      </div>
      <h3 class="ui header">Fichas</h3>
      <div class="ui clearing divider"></div>
      <div class="ui grid" *ngIf="datos.listFichas">

        <div class="five wide column">
          <div class="ui secondary vertical menu">

            <a  class="item" [ngClass]="{'active':selectedFicha?.idImgFicha==fichas.idImgFicha}" *ngFor="let fichas of datos.listFichas" (click)="selectFicha(fichas)">{{fichas.idImgFicha}}</a>

          </div>

        </div>
        <div class="eleven wide column">
          <div class="ui grid">
            <div class=" row">
              <div class="column center aligned">
                <div class="large ui buttons">
                <button class="ui button" *ngFor="let pagina of selectedFicha?.listPag; first as isFirst" (click)="nextImage(pagina.pagina,pagina.nroPagRef,'imgFichas')">{{pagina.pagina}}</button>

              </div>
              </div>
            </div>
              <div class=" two column centered row">
              <div class="column "  >


                  <div class="ui segment stacked"  [ngClass]="{loading:isImageLoading}" *ngIf="dataFichaAsiento?.pagina">
                    <img class="ui medium rounded image" [src]="imageToShowFichas"
                         alt=""
                         *ngIf="!isImageLoading" (click)="mostrarImagen($event)">


                  </div>

              </div>
            </div>
          </div>




        </div>
      </div>
      <h3 class="ui header">Folios</h3>
      <div class="ui clearing divider"></div>
      <div class="ui grid" *ngIf="datos.listFolios">

        <div class="five wide column">
          <div class="ui secondary vertical menu">

            <a  class="item" [ngClass]="{'active':selectedFolio?.idImgFolio==folio.idImgFolio}" *ngFor="let folio of datos.listFolios" (click)="selectFolio(folio)">{{folio.idImgFolio}}</a>

          </div>

        </div>
        <div class="eleven wide column">
          <div class="ui grid">
            <div class="two column centered row">
              <div class="column">

                <div class="ui segment stacked"  [ngClass]="{loading:isFolioImageLoading}" *ngIf="dataFolioAsiento?.pagina">
                  <img class="ui medium rounded image" [src]="imageToShowFolio"
                       alt=""
                       *ngIf="!isFolioImageLoading" (click)="mostrarImagen($event)">
                </div>

              </div>
            </div>
          </div>




        </div>
      </div>

      <h3 class="ui header">Asientos</h3>
      <div class="ui clearing divider"></div>
      <div class="ui grid" *ngIf="datos.listAsientos">

        <div class="five wide column">
          <div class="ui secondary vertical menu">

            <a  class="item" [ngClass]="{'active':selectedAsiento?.idImgAsiento==asientos.idImgAsiento}" *ngFor="let asientos of datos.listAsientos" (click)="selectAsiento(asientos)">{{asientos.idImgAsiento}}</a>

          </div>

        </div>
        <div class="eleven wide column">
          <div class="ui grid">
            <div class="center aligned row">
              <div class="column"><div class="large ui buttons">
                <button class="ui button" *ngFor="let pagina of selectedAsiento?.listPag; first as isFirst" (click)="nextImage(pagina.pagina,pagina.nroPagRef,'imgAsientos')">{{pagina.pagina}}</button>

              </div>
              </div>
            </div>
              <div class="two column centered row">
              <div class="column">

                <div class="ui segment stacked"  [ngClass]="{loading:isAsientoImageLoading}" *ngIf="dataAsiento?.pagina">
                  <img class="ui medium rounded image" [src]="imageToShowAsientos"
                       alt=""
                       *ngIf="!isAsientoImageLoading" (click)="mostrarImagen($event)">
                </div>


                <!--<div class="ui cube shape " appShape id="imgAsientos">-->
                  <!--<div class="sides">-->
                    <!--<div class=" side" *ngFor="let pagina of selectedAsiento?.listPag; first as isFirst"  id="{{selectedAsiento.idImgAsiento+'_'+pagina.pagina}}" >-->
                      <!--<div class="content">-->
                        <!--<div class="center">-->
                          <!--<img [src]="imageToShowAsientos"-->
                               <!--alt="{{pagina.pagina}}"-->
                               <!--*ngIf="!isAsientoImageLoading" (click)="mostrarImagen($event)" >-->
                          <!--<div class="ui active dimmer" *ngIf="isAsientoImageLoading">-->
                            <!--<div class="ui loader"></div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>




        </div>
      </div>


    </div>
    <div class="ui basic modal" appModal>
      <!--<div class="ui icon header">-->
        <!--<i class="archive icon"></i>-->
        <!--Archive Old Messages-->
      <!--</div>-->
      <div class="content">
        <img src="{{imgModal}}" alt="Imagen del Asiento">
      </div>
      <!--<div class="actions">-->
        <!--<div class="ui red basic cancel inverted button">-->
          <!--<i class="remove icon"></i>-->
          <!--No-->
        <!--</div>-->
        <!--<div class="ui green ok inverted button">-->
          <!--<i class="checkmark icon"></i>-->
          <!--Yes-->
        <!--</div>-->
      <!--</div>-->
    </div>

  </div>
</div>

