<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->
      <form class="ui form" (ngSubmit)="buscarAsiento()">
        <div class="field">
          <label>Zona</label>
          <input type="text" name="zona" placeholder="Zona" [(ngModel)]="asiento.zona">
        </div>
        <div class="field">
          <label>Oficina</label>
          <input type="text" name="oficina" placeholder="Oficina" [(ngModel)]="asiento.oficina">
        </div>
        <div class="field">
          <label>Partida</label>
          <input type="text" name="partida" placeholder="Partida" [(ngModel)]="asiento.partida">
        </div>
        <div class="field">
          <label>Registro</label>
          <input type="text" name="registro" placeholder="Registro" [(ngModel)]="asiento.registro">
        </div>

        <button class="ui button" type="submit">Buscar</button>
      </form>


    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h1 class="ui header">Resultado</h1>
      <!--mostrar resultado-->
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui  horizontal label">Rigistro</div>
          Kumquats
        </a>
        <a class="item">
          <div class="ui  horizontal label">Libro</div>
          Ice Cream
        </a>
        <a class="item">
          <div class="ui  horizontal label">Partida</div>
          Orange
        </a>
        <a class="item">
          <div class="ui horizontal label">Ficha</div>
          Poodle
        </a>
        <a class="item">
          <div class="ui horizontal label">Tomo</div>
          Poodle
        </a>
        <a class="item">
          <div class="ui horizontal label">Folio</div>
          Poodle
        </a>
        <a class="item">
          <div class="ui horizontal label">Tipo</div>
          Poodle
        </a>
        <a class="item">
          <div class="ui horizontal label">Denominacion</div>
          Poodle
        </a>
      </div>
    </div>

  </div>
</div>

