<div class="ui grid">
  <div class="row one column">

      <div class="column">
        <h1 class="header">LISTA DE ASIENTOS</h1>
      </div>
    <div class="column">
      <!--formulario de busqueda-->
      <form class="ui form" (ngSubmit)="buscarAsiento()">
        <!--<div class="field">-->
          <!--<label>Zona</label>-->
          <!--<input type="text" name="zona" placeholder="Zona" [(ngModel)]="asiento.zona">-->
        <!--</div>-->
        <!--<div class="field">-->
          <!--<label>Oficina</label>-->
          <!--<input type="text" name="oficina" placeholder="Oficina" [(ngModel)]="asiento.oficina">-->
        <!--</div>-->
        <div class="field">
          <label>Oficina</label>
          <select name="" class="ui fluid search" (change)="selectOficina(oficina.value)" [ngClass]="{loading:!loadingDataSelect}" #oficina appDropdown>
            <option value=""></option>
            <option value="{{oficina.codOficina+'_'+oficina.codZona}}" *ngFor="let oficina of dataOficina">{{oficina.descripcion}}</option>
          </select>


        </div>
        <div class="field">
          <label>Partida</label>
          <input type="text" name="partida" placeholder="Partida" [(ngModel)]="asiento.partida">
        </div>
        <div class="field">
          <label>Registro</label>
          <!--<input type="text" name="registro" placeholder="Registro" [(ngModel)]="asiento.registro">-->

          <select name="registro" class="ui fluid dropdown" [(ngModel)]="asiento.registro"  appDropdown>
            <option value=""></option>
            <option value="21000">Propiedad Inmueble</option>
            <option value="22000">Personas Jurídicas</option>
            <option value="23000">Personas Naturales</option>

          </select>
        </div>

        <button class="ui button" type="submit">Buscar</button>
      </form>


    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h1 class="ui header">Resultado</h1>
      <!--mostrar resultado-->
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui  horizontal label">Transaccion</div>
          {{datos?.nroTotalPag}}
        </a>
        <a class="item">
          <div class="ui  horizontal label">Numero de Páginas</div>
          {{datos?.transaccion}}
        </a>
      </div>
      <h3 class="ui header">Fichas</h3>
      <div  class="ui divided selection list">
      <ng-container *ngIf="datos.listFichas">
        <a class="item" *ngFor="let fichas of datos.listFichas[0]|keys">
          <div class="ui  horizontal label">{{fichas.key}}</div>
          <ng-container *ngIf="fichas.key!='listPag'">{{fichas.value}}</ng-container>
          <ng-container *ngIf="fichas.key=='listPag'">
            <div   class="ui divided selection list" *ngFor="let pagina of fichas.value">
              <a *ngFor="let elem of pagina|keys" class="item">
                <div class="ui  horizontal label">{{elem.key}}</div>
                {{elem.value}}
              </a>
            </div>
          </ng-container>
        </a>
      </ng-container>

      </div>
      <h3 class="ui header">Folios</h3>
      <div *ngFor="let folios of datos.listFolios" class="ui divided selection list">
        <a class="item" *ngFor="let fol of folios|keys">
          <div class="ui  horizontal label">{{fol.key}}</div>
          {{fol.value}}
        </a>
      </div>
      <h3 class="ui header">Asientos</h3>
      <div *ngFor="let asientos of datos.listAsientos" class="ui divided selection list">
        <a class="item" *ngFor="let asien of asientos|keys">
          <div class="ui  horizontal label">{{asien.key}}</div>
          <ng-container *ngIf="asien.key!='listPag'">{{asien.value}}</ng-container>
          <ng-container *ngIf="asien.key=='listPag'">
            <div   class="ui divided selection list" *ngFor="let pagina of asien.value">
              <a *ngFor="let elem of pagina|keys" class="item">
                <div class="ui  horizontal label">{{elem.key}}</div>
                {{elem.value}}
              </a>
            </div>
          </ng-container>
        </a>
      </div>
    </div>
    <div class="column" *ngIf="loadingData">
      <div class="ui floating icon floating  message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Cargando los datos ...
          </div>
          <p>Conectando con el servicio pide ... !Porfavor espere¡</p>
        </div>
      </div>
    </div>

  </div>
</div>

