<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->
      <form class="ui form" (ngSubmit)="actualizar()">

        <div class="field" >
          <label>Clave anterior</label>
          <input type="password" name="credencialAnterior" placeholder="Credencial Anterior" [(ngModel)]="userCredencial.credencialAnterior">
        </div>
        <div class="field" >
          <label>Nueva Clave</label>
          <input type="password" name="credencialNueva" placeholder="Credencial Nueva" [(ngModel)]="userCredencial.credencialNueva">
        </div>
        <div class="field" >
          <label>DNI usuario</label>
          <input type="text" name="nuDni" placeholder="DNI" [(ngModel)]="userCredencial.nuDni">
        </div>
        <div class="field" >
          <label>RUC entidad</label>
          <input type="text" name="nuRUC" placeholder="RUC" [(ngModel)]="userCredencial.nuRUC">
        </div>

        <button class="ui button" type="submit">Buscar</button>
      </form>


    </div>
    <div class="column">
      <div class="ui floating icon floating  message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Cargando los datos ...
          </div>
          <p>Conectando con el servicio pide ... !Porfavor espere¡</p>
        </div>
      </div>
    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h1 class="ui header">Resultado</h1>
      <!--mostrar resultado-->
      <div *ngFor="let titu of datos;index as i" class="ui divided selection list">
        <a class="item" >
          <div class="ui blue horizontal label"># RESULTADO</div>
          {{i+1}}
        </a>
        <a class="item" *ngFor="let elementos of titu | keys">
          <div class="ui  horizontal label">{{elementos.key}}</div>
          {{elementos.value}}
        </a>

      </div>

      <button class="ui button" [@heroState]="state" (click)="toggleState()">Follow</button>
      <table class="ui table">
        <tbody>
        <tr>
          <td class="collapsing">
            <i class="folder icon"></i> node_modules
          </td>
          <td>Initial commit</td>
          <td>10 hours ago</td>
        </tr>
        <tr (click)="mostrardetalle(2)">
          <td>
            <i class="folder icon"></i> test
          </td>
          <td>Initial commit</td>
          <td>10 hours ago</td>
        </tr>
        <tr @shrinkOut *ngIf="currentindex==2" >
          <td >
            <i class="folder icon"></i> build
          </td>
          <td >Initial commit</td>
          <td >10 hours ago</td>
        </tr>

        <tr (click)="mostrardetalle(3)">

          <td>
            <i class="folder icon"></i> test
          </td>
          <td>Initial commit</td>
          <td>10 hours ago</td>
        </tr>

        <tr  >
          <td colspan="100%">
            <div @flyInOut style="background: red;"  *ngIf="currentindex==3">
              <h4 class="ui header">tomalo mela</h4>
            </div>
          </td>

          <!--<td >-->
            <!--<i class="folder icon"></i> build-->
          <!--</td>-->
          <!--<td >Initial commit</td>-->
          <!--<td >10 hours ago</td>-->

        </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>

