<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->
      <div class="ui search ">
        <div class="ui icon input fluid">
          <input class="prompt" type="text" (keyup.enter)="getNaveAeronave(matricula.value)" placeholder="Número de Matricula" #matricula>
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>

  <div class="one column row">
    <div class="column">

      <!--mostrar resultado-->
      <div class="ui divided selection list">
        <a class="item" *ngFor="let dato of datos| keys">
          <div class="ui  horizontal label">{{dato.key}}</div>
         {{dato.value}}
        </a>

      </div>
    </div>

  </div>
</div>


