<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->
      <div class="ui search ">
        <div class="ui icon input fluid">
          <input class="prompt" type="text" (keyup.enter)="getNaveAeronave(matricula.value)" placeholder="Número de Matricula" #matricula>
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>

  <div class="one column row">
    <div class="column" *ngIf="loadingData">
      <div class="ui floating icon floating  message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Cargando los datos ...
          </div>
          <p>Conectando con el servicio pide ... !Porfavor espere¡</p>
        </div>
      </div>
    </div>
    <div class="column" *ngIf="datos">

      <!--mostrar resultado-->
      <h4 class="ui horizontal divider header green">
        <i class="list icon"></i>
        Resultado
      </h4>
      <div class="ui divided selection list">
        <a class="item" *ngFor="let dato of datos| keys">
          <div class="ui  horizontal label">{{dato.key}}</div>
         {{dato.value}}
        </a>

      </div>
    </div>


  </div>
</div>


