<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->


    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h1 class="ui header">Resultado</h1>
      <!--mostrar resultado-->
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui  horizontal label">Codigo Zona</div>
          Kumquats
        </a>
        <a class="item">
          <div class="ui  horizontal label">Codigo Oficina</div>
          Ice Cream
        </a>
        <a class="item">
          <div class="ui  horizontal label">Descripcion</div>
          Orange
        </a>
      </div>
    </div>

  </div>
</div>

