<div class="ui grid">
  <div class="row one column">
    <div class="column">
      <!--formulario de busqueda-->


    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h1 class="ui header">Resultado</h1>
    </div>
    <div class="column">
      <table class="ui celled table">
        <thead>
        <tr >
          <th>
            #
          </th>
          <th *ngFor="let titulo of data[0]|keys">
            {{titulo.key}}
          </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oficina of data; index as i">
          <td>
            <div class="ui ribbon label">{{i+1}}</div>
          </td>
          <td *ngFor="let el of oficina|keys; first as isFirst">
           {{el.value}}
          </td>

        </tr>

        </tbody>

      </table>
    </div>

    <div class="column" *ngIf="loadingData">
      <div class="ui floating icon floating  message">
        <i class="asterisk loading icon"></i>
        <div class="content">
          <div class="header">
            Cargando los datos ...
          </div>
          <p>Conectando con el servicio pide ... !Porfavor espere¡</p>
        </div>
      </div>
    </div>

  </div>
</div>

